@model List<appBodega.Models.Empresa>
@{
    ViewData["Title"] = "Empresas";
}
<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Empresa")'"> + Nueva Empresa</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id Empresa</th>
            <th scope="col">Nombre Empresa</th>
            <th scope="col">Resumen Empresa</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <th scope="row">@item.EmpresaID</th>
                <th>@item.NombreEmpresa</th>
                <th>@item.Resumen</th>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Delete" asp-route-ProductoId="@item.EmpresaID" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        <!--<a asp-action="Edit" asp-route-EmpresaID="@item.EmpresaID" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></a>-->
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>